.DS_Store
include
scisim/ConstrainedMaps/bogus/FrictionProblem.cpp
scisim/ConstrainedMaps/bogus/FrictionProblem.hpp
scisim/ConstrainedMaps/bogus/FrictionProblem.impl.hpp
scisim/Math/QL/ql.for
xcode
*.pyc
